.navbar{
    width: 100%;
}

body{
    color:black;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 1rem;
    padding: 1rem;
    width: 30em;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    border-radius: 5%;
}
.container:hover{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 1rem;
    width: 30em;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    box-shadow: 3px 3px 3px 3px #777777;
    border-radius: 5%;
}

.container > span {
    padding: 1rem;
}

.btn{
    margin-top: 1rem;
}

#building_pic{
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
}
.description{
    width: 30rem;
}
.toast{
    display: flex;
    align-items: center;
    margin: 1rem;
}

.members-table{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    padding: 1rem;
}

.employee-wrapper {
    margin-left: 3rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.employee-wrapper > div{
    margin-top: 2rem;
    border-style: solid;
    width: 25em;
    border-color: #000000;
    border-width: 1px;
    padding:0.5rem;
    margin-right: 3rem;
    justify-content: center;
}
.employee-wrapper >div:hover{
    box-shadow: 3px 3px 3px 3px #777777;
}

.employee-wrapper>div>ul{
    margin-top: 2rem;
}

.sticky-button{
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
}

.dues-table{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    padding: 1rem;
}

.events-table{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    padding: 1rem;
}

#modal-btn{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    border-radius: 50%;
    margin-left: 1rem;
    font-size: 1rem;
    width: 3rem;
    height: 3rem
}
