{% extends 'base.html' %}
{% block title %}
    Assign Dues
{% endblock %}
{% block content %}
{% if current_user.is_authenticated and current_user.admin_user %}
<div class="dues-table">
  <table class="table table-hover table-light">
      <thead>
          <tr>
              <!-- Your Columns HERE -->

              <th scope="col">Tenant</th>
              <th scope="col">Amount</th>
              <th scope="col">Purpose</th>
              <th scope="col">Status</th>
              <th scope="col">Created On</th>
              <th scope="col">Assigner</th>
              <th scope="col">Update Payment Status</th>
          </tr>
      </thead>
      <tbody>
          <!-- Your rows inside the table HERE: -->
          {% for _,due in dues_table.iterrows() %}
              <tr>
                  <td>{{ due['Assignee'] }}</td>
                  <td>{{ due['Amount'] }}</td>
                  <td>{{ due['Purpose'] }}</td>
                  <td>{{ due['Status'] }}</td>
                  <td>{{ due['Created_On'] }}</td>
                  <td>{{ due['Assigner'] }}<sup>Admin</sup></td>
                  {% if due['Status']==False %}
                    <td>
                        <form action="" method="POST">
                          <button name="check" value="{{due['ID']}}" class="btn btn-sm btn-outline btn-success" style="margin-top:0rem"><i class="fas fa-check"></i></button>
                          <button name="trash" value="{{due['ID']}}" class="btn btn-sm btn-outline" style="background-color: red; margin-top:0rem"><i class="far fa-trash-alt"></i></button>
                        </form>
                    </td>
                {% else %}
                    <td>
                      <form action="" method="POST">
                        <button name="cross" value="{{due['ID']}}" class="btn btn-outline btn-sm" style="background-color: gray; margin-top:0rem"><i class="fas fa-times"></i></button>
                        <button name="trash" value="{{due['ID']}}" class="btn btn-sm btn-outline" style="background-color: red; margin-top:0rem"><i class="far fa-trash-alt"></i></button>
                      </form>
                    </td>
                  {% endif %}
              </tr>
          {% endfor %}
      </tbody>
  </table>
</div>
<div class = "sticky-button" style="overflow: visible;">
    <button id = "modal-btn" class="btn btn-primary btn-md" data-target="#create_dues" data-toggle="modal">+</button>
</div>
<div class="modal" id="create_dues" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Assign Payment</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="border:none; background-color: transparent;">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST" class = "form-register" style="color:black">
            {{form.hidden_tag()}}
            <br>                    
            <span>{{form.amount.label()}}
            {{form.amount(class="form-control",placeholder="Amount")}}</span>
            
            <span>{{form.purpose.label()}}
            {{form.purpose(class="form-control",placeholder="Why are these dues being levied on the user")}}</span>
            
            <br>
            <span>
              {{form.due_to_user.label()}}
              {{form.due_to_user}}
            </span>
        </div>
        <div class="modal-footer">
            <hr>
            {{form.submit(class="btn btn-md btn-block btn-primary")}}
            <button type="button" class="btn btn-md btn-secondary" data-dismiss="modal">Close</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endif %}
{% endblock %}
{% block script %}
<script>
</script>
{% endblock %}