<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css" integrity="sha384-wESLQ85D6gbsF459vf1CiZ2+rr+CsxRY0RpiF1tLlQpDnAgg6rwdsUF1+Ics2bni" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/building_favicon.png') }}"/>
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="width:auto">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Building Portal</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" id = "home_page" href="{{url_for('home')}}">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Stakeholders
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="{{ url_for('member_page') }}">Members</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{{ url_for('employee_page') }}">Employees</a></li>
                    {% if current_user.is_authenticated and current_user.admin_user %}
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="{{ url_for('approve_members_page')}}">Approve New Members</a></li>
                    {% endif %}
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('events_page')}}">Events</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Payments
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="{{url_for('my_dues_page')}}">Due to me</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{{url_for('payment_history_page')}}">Payment History</a></li>
                    {% if current_user.is_authenticated and current_user.admin_user %}
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="{{url_for('assign_dues_page')}}">Assign and Manage Dues</a></li>
                    {% endif %}
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('maintenance_history_page')}}">Maintenance History</a>
              </li>
            </ul>
            {% if current_user.is_authenticated %}
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;">
                  Welcome, {{current_user.user_name}}
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">My Profile <sup style="font-size: 0.5em;">Coming soon</sup></a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{{url_for('logout_page')}}">Logout</a></li>
                </ul>
              </li>
            </ul>
            {% else %}
            <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link" id="login_page" href="{{url_for('login_page')}}">Login</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" id="register_page" href="{{url_for('register_page')}}">Register</a>
              </li>
            </ul>
            {% endif %} 
          </div>
        </div>
      </nav>
      <div class="account_warnings">
      {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
          {% for category,message in messages %}
          <div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center w-100">
            <div class="toast align-items-center text-white bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
              <div class="d-flex">
                <div class="toast-body">
                  {{message}}
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
              </div>
            </div>
        </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      </div>
      {% block content %}
      {% endblock %}
      <!-- Optional JavaScript --> 
      <script src='https://kit.fontawesome.com/a076d05399.js'></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <script>
        const previous_tab = document.querySelector('.active');
        previous_tab.classList.remove("active");
        const alert_messages = document.querySelectorAll('.toast');
        for (var i=0; i<alert_messages.length;i++)
        {
          alert_messages[i].classList.add('show');
        }
        if(alert_messages.length!=0)
        {
          document.querySelector('.account_warnings').addEventListener("click", deleteCheck);
        }
        function deleteCheck(event) {
          const item = event.target;
          const deleteElem = item.parentElement;
          if(item.classList[0]=="btn-close")
          {
            deleteElem.remove()
          }
        }
      </script>
      {% block script %}
      {% endblock %}
</body>
</html>