{% extends 'base.html' %}

{% block title %}
Login Page
{% endblock %}

{% block content %}
<body class="text-center">
<div class="container">
    <form method="POST" class = "form-register" style="color:black">
        {{form.hidden_tag()}}
        <h1>
            Log Into Your Account
        </h1>
        <br>
        <span>{{form.username.label()}}
        {{form.username(class="form-control",placeholder="User Name")}}</span>

        <span>{{form.password.label()}}
        {{form.password(class="form-control",placeholder="Password")}}</span>
        
        <span style="margin-top: 2rem;">
        {{form.submit(class="btn btn-lg btn-block btn-primary")}}</span>
    </form>
</div>
</body>
{% endblock %}
{% block script %}
<script>
    const active_tab = document.querySelector("#login_page");
    active_tab.classList.add("active");
</script>
{% endblock %}