{% extends 'base.html' %}
{% block title %}
    Members
{% endblock %}
{% block content %}
    <div class="members-table">
        <table class="table table-hover table-light">
            <thead>
                <tr>
                    <!-- Your Columns HERE -->
                    <th scope="col">Name</th>
                    <th scope="col">Flat Number</th>
                    <th scope="col">Floor</th>
                    <th scope="col">Contact Number</th>
                    <th scope="col">Email Address</th>
                    <th scope="col">Administrator</th>
                    {% if current_user.is_authenticated and current_user.admin_user %}
                        <th scope="col">Change User Type</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                <!-- Your rows inside the table HERE: -->
                {% for _,member in member_table.iterrows() %}
                    <tr>
                        <td>{{ member['Name'] }}</td>
                        <td>{{ member['Flat_Number'] }}</td>
                        <td>{{ member['Floor'] }}</td>
                        <td>{{ member['Contact_Number'] }}</td>
                        <td>{{ member['Email_Address'] }}</td>
                        <td>{{ member['Administrator'] }}</td>
                        {% if current_user.is_authenticated and current_user.admin_user %}
                            {% if member['Administrator']==False %}
                                <td>
                                    <form action="" method="POST">
                                        <button name="admin" value="{{member['ID']}}" class="btn btn-sm btn-outline btn-success" style="margin-top:0rem">Make Admin</button>
                                    </form>
                                </td>
                            {% else %}
                                <td>
                                    <button class="btn btn-outline btn-sm" style="background-color: gray; margin-top:0rem">Admin</button>
                                </td>
                            {% endif %}
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}