{% extends 'base.html' %}
{% block title %}
    My Payments
{% endblock %}
{% block content %}
{% if current_user.is_authenticated %}
<div class="dues-table">
  <table class="table table-hover table-light">
      <thead>
          <tr>
              <!-- Your Columns HERE -->

              <th scope="col">Tenant</th>
              <th scope="col">Amount</th>
              <th scope="col">Purpose</th>
              <th scope="col">Created On</th>
              <th scope="col">Assigner</th>
          </tr>
      </thead>
      <tbody>
          <!-- Your rows inside the table HERE: -->
          {% for _,due in dues_table.iterrows() %}
            {% if due['Status'] == True %}
              <tr>
                  <td>{{ due['Assignee'] }}</td>
                  <td>{{ due['Amount'] }}</td>
                  <td>{{ due['Purpose'] }}</td>
                  <td>{{ due['Created_On'] }}</td>
                  <td>{{ due['Assigner'] }}<sup>Admin</sup></td>
              </tr>
              {% endif %}
          {% endfor %}
      </tbody>
  </table>
</div>
{% endif %}
{% endblock %}
{% block script %}
<script>
</script>
{% endblock %}