{% extends 'base.html' %}
{% block title %}
Registration Page
{% endblock %}

{% block content %}
<body class="text-center">
<div class="container">
    <form method="POST" class = "form-register" style="color:black">
        {{form.hidden_tag()}}
        <h1>
            Please Create your Account
        </h1>
        <br>
        <span>{{form.username.label()}} {{form.username(class="form-control",placeholder="User Name")}}</span>
        
        <span>{{form.flat_no.label()}}
        {{form.flat_no(class="form-control",placeholder="Flat Number")}}</span>
        
        <span>{{form.floor.label()}}
        {{form.floor(class="form-control",placeholder="Floor")}}</span>

        <span>{{form.email_address.label()}}
        {{form.email_address(class="form-control",placeholder="Email Address")}}</span>

        {{form.admin_user.label()}}<br>
        {{form.admin_user(class="radio-button")}}
        <br>
        
        <span>{{form.password1.label()}}
        {{form.password1(class="form-control",placeholder="Password")}}</span>
        
        <span>{{form.password2.label()}}
        {{form.password2(class="form-control",placeholder="Confirm Password")}}</span>

        <br>
        {{form.submit(class="btn btn-lg btn-block btn-primary")}}
    </form>
</div>
</body>
{% endblock %}
{% block script %}
<script>
    const active_tab = document.querySelector("#register_page");
    active_tab.classList.add("active");
</script>
{% endblock %}